@import url("https://fonts.googleapis.com/css?family=Sofia");

#head-title{

    font-size: 35px;
    color: rgba(124, 78, 58)
}
.title{
    font-family: "Sofia", serif;
}

#menu{
    font-size: 60px;
    color: #664d42;
}

.nav-bottom{
    padding: 10px 15px;
    color: #3f3530 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.form-combo{
    min-height: 500px;
    margin: 0 0.5rem;
}

.logosale{
    position: absolute;
    top: 0;
    right: 0;
}
.shadow{
    position: relative;
}

.btn-combo{
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    padding: 0;
}
.sale{
    position: inherit;
    top: 32px;
    right: 23px;
    text-shadow: black 1px 2px 8px;
}
